body{
	display: flex;
	flex-direction: column;
}
	.centrage
{
  display: flex;
  flex-direction: column;
  
}
.centrage_logo{
  margin: auto;
  padding-top: 109px;

}

.centrage_searchbar
{
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.saisie_texte {
	width:300px;
	height:10px; 
}

.bouton1  {
	justify-content: space-around;
	height: 36px;
    line-height: 27px;
        background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center
}

.bouton2  {
	justify-content: space-around;
	height: 36px;
    line-height: 27px;
        background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center
}

.searchbar {
	    background-color: #fff;
    height: 44px;
     width: 584px;
    margin: -1px 0px 1px;
    color: #222;
    vertical-align: top;
    border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    font-size: small;
    overflow: hidden;

}


ul.header_droit li{
	display: inline;
	float: right;
}
ul#footer_haut li{
	display: inline;
	margin-bottom: 0px;
	margin-top:0px;
	color: #777;
	font-size:15px;

}
ul#footer_bas li {
	display:inline-block;
}


#droite {
	padding-right: 5px;	
}

#footer {
 bottom: 0;
 position: absolute;
 margin-left: 0px;
    text-align: left;
        color: #666;
    padding-left: 27px;
        font-size: small;
        background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 980px;
    font-family: arial,sans-serif;
}

#header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	    color: rgba(0,0,0,0.87);
    line-height: 24px;
    font-family: arial, serif;
    font-size: 13px;

}