body{
	display: flex;
	flex-direction: column;
}
	.centrage
{
  display: flex;
  flex-direction: column;
  
}
.centrage_logo{
  margin: auto;
  padding-top: 109px;
  
}

.centrage_searchbar
{
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.saisie_texte {
	width:300px;
	height:10px; 
}

.bouton  {
	justify-content: space-between;
}


ul.header_droit li{
	display: inline;
	float: right;
}
ul#footer_haut li{
	display: inline;
}
ul#footer_bas li {
	display:inline;
}


#droite {
	padding-right: 5px;	
}

#footer {
 bottom: 0;
 position: absolute;
}
}